name: CI
on:
  push:
  pull_request:

env:
  # Force colors in cargo output
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Linting
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Linux x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - name: MacOS aarch64
            os: macos-latest
            target: aarch64-apple-darwin
          - name: Windows x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
          - name: WebAssembly
            os: ubuntu-latest
            target: wasm32-unknown-unknown
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        run: |
          rustup toolchain install --no-self-update --profile=minimal --component clippy
          rustup target add ${{ matrix.target }}
          cargo -V

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --target ${{ matrix.target }} --workspace --bins -- -D warnings
