name: CI
on:
  push:
    branches: [main]
  pull_request:

# Cancel old in-progress jobs for the same github.ref on any new activity
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  # Force colors in cargo output
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Linting
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Linux x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            clippy_targets: --bins
          - name: MacOS aarch64
            os: macos-latest
            target: aarch64-apple-darwin
            clippy_targets: --bins
          - name: Windows x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            clippy_targets: --bins
          - name: WebAssembly
            os: ubuntu-latest
            target: wasm32-unknown-unknown
            clippy_targets: --bins
          - name: Android aarch64
            os: ubuntu-latest
            target: aarch64-linux-android
            clippy_targets: --lib --bin xtask
          - name: iOS aarch64
            os: macos-latest
            # NOTE: aarch64-applie-ios-sim would be added as a separate target
            #       to cover iOS simulator builds in a complete CI pipeline,
            #       but differences are unlikely to occur in practice. It is
            #       omitted here to be kind to GitHub's free tier CI servers.
            target: aarch64-apple-ios
            clippy_targets: --bins
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        run: |
          rustup toolchain install --no-self-update --profile=minimal --component clippy
          rustup target add ${{ matrix.target }}
          cargo -V

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --target ${{ matrix.target }} --workspace ${{ matrix.clippy_targets }} -- -D warnings
