name: CI
on:
  push:
  pull_request:

env:
  # Force colors in cargo output
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Linting
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        run: |
          rustup toolchain install --no-self-update --profile=minimal --component clippy
          cargo -V

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --workspace -- -D warnings
