name: Deploy WASM to GitHub Pages Repository

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env: # Force colors in cargo output
  CARGO_TERM_COLOR: always

jobs:
  build-wasm:
    name: Build WASM artifacts
    runs-on: ubuntu-slim
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Install Rustup
        run: |
          if ! command -v rustup &>/dev/null; then
            curl --proto '=https' --tlsv1.2 --silent --show-error --fail --retry 5 --retry-connrefused --retry-max-time 10 --max-time 20 --location https://sh.rustup.rs | sh -s -- -y --default-toolchain none
            echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          fi
          $HOME/.cargo/bin/rustup --version

      - name: Install Rust toolchain with wasm32-unknown-unknown target
        run: |
          rustup toolchain install \
            --target wasm32-unknown-unknown \
            --no-self-update \
            --profile=minimal \
            stable
          rustup default stable
          cargo -V

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install wasm-bindgen-cli
        # If wasm-bindgen-cli starts signing GitHub releases, add the `--only-signed` flag
        run: |
          cargo binstall \
            --no-confirm \
            --disable-telemetry \
            --locked \
            --disable-strategies quick-install \
            wasm-bindgen-cli

      - name: Build WASM (release)
        run: |
          cargo build \
            --release \
            --target wasm32-unknown-unknown \
            --bin wgpucube

      - name: Generate web bindings
        run: |
          wasm-bindgen target/wasm32-unknown-unknown/release/wgpucube.wasm \
            --no-typescript \
            --target web \
            --out-dir target/generated \
            --out-name wgpucube

      - name: Upload WASM artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm-build
          path: target/generated/
          retention-days: 30

      - name: Clone GitHub Pages repository
        run: |
          git clone https://x-access-token:${{ secrets.WGPUCUBE_GITHUB_IO_CONTENTS_WRITE }}@github.com/wgpucube/wgpucube.github.io.git wgpucube.github.io

      - name: Copy WASM artifacts to GitHub Pages repository
        run: |
          cp -v target/generated/* wgpucube.github.io/public/

      - name: Commit and push to GitHub Pages repository
        run: |
          cd wgpucube.github.io
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add public/
          git commit -m "Update WASM build from ${{ github.repository }}@${{ github.sha }}" || exit 0
          git push
